*{
    color: snow;
    background-color: rgb(28, 34, 39);
}
a{
    text-decoration: none;
    color: thistle;
}
a:hover{
    color: tomato;
}
Header{
    
        position: sticky;
        top: 0;
        z-index: 100; /* this is optional and should be different for every project */
    
}
.cards a{
    width: 15rem;
}
.course{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}